#DashboardContainer {
  font-family: "Alpino, sans-serif";
  color: #fff;
  background-color: #100f12;
  padding: 20px;
  border-radius: 10px;
}

.dashboard-section {
  background-color: #1a1a1a; /* Updated background color for the section */
  border-radius: 10px; /* Added border-radius for a cleaner look */
  padding: 20px;
}

.dashboard-form {
  background-color: #1a1a1a; /* Updated background color for the form section */
  border-radius: 10px; /* Added border-radius for a cleaner look */
  padding: 20px;
}

.dashboard-section h6,
.dashboard-form h6 {
  color: #ac1b1b; /* Updated title color */
}

.dashboard-form input {
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: 5px;
}

.dashboard-form button {
  margin-top: 15px;
  background-color: #ac1b1b;
  color: #ffffff;
}

#DashboardContainer .MuiPaper-root {
  background-color: #100f12;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}

#DashboardContainer .MuiDivider-root {
  color: white;
  border: 1px solid #444444;
  margin-top: 20px;
  margin-bottom: 20px;
}

#DashboardContainer .MuiAvatar-root {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#DashboardContainer .MuiTypography-body1 {
  margin-top: 10px;
}

#DashboardContainer .MuiTypography-h6 {
  margin-bottom: 15px;
}

#DashboardContainer .MuiButton-root {
  background-color: #ac1b1b;
  color: #ffffff;
}

.dashboard-form input:focus {
  outline: none; /* Disable the default focus outline */
  border: 2px solid #ac1b1b; /* Set your custom border color and width */
}

/* Responsive styles for screens 768px or smaller */
@media (max-width: 768px) {
  #DashboardContainer {
    padding: 10px;
  }

  #DashboardContainer .MuiTypography-h4 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  #DashboardContainer .MuiTypography-body1 {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
}
